* { box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0;

  background-color: #e5e5f5;

  font-family: "Source sans pro", sans-serif;
  font-size: 17px;
}

.container {
  position: relative;

  max-width: 500px;
  margin: 0 auto;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;

  height: 0;
  width: 0;

  opacity: 0;

  background-color: rgba(0, 0, 0, .3);
}

.modal.is-active {
  width: 100%;
  height: 100%;

  opacity: 1;
}

.modal .container {
  top: 50%;
  transform: translateY(-50%);
}

.modal__form {
  width: 100%;
  padding: 30px;

  background-color: white;
}

.modal__form__input {
  width: 100%;
  height: 40px;

  margin-bottom: 15px;
  padding: 10px;

  background-color: white;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #868686;
  border: 1px solid #f3f3f3;
  background-color: #f9f9f9;

  font-family: "Source sans pro", sans-serif;
  font-size: 16px;

}

.modal__form__input--area {
  height: 200px;
  resize: none;
}

.tasks-group {
  width: 100%;

  padding: 25px;
  margin: 20px auto;

  background-color: #f9f9f9;
  border-radius: 3px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, .2);

}

.tasks {
  //padding: 15px;
}

.tasks-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
} 

.tasks-item__mark-btn {
  width: 25px;
  height: 25px;

  border-radius: 50%;
  border: 5px solid #b5ea81;

  cursor: pointer;
}

.tasks-item__label {
  width: calc(100% - 40px);
  padding: 0 20px;
}

.tasks-item__options { 
  width: 15px;
  height: 15px;

  border-radius: 50%;
  background-color: #e5e5f5;

  cursor: pointer;
}

.tasks-item.is-complete .tasks-item__mark-btn {
  border-color: #ddfbbf;
  background-color: #c7eaa5;
}

.tasks-item.is-complete .tasks-item__label {
  color: #a7a7a7;
  text-decoration: line-through;
}

.btn {
  display: block;

  margin: 20px auto;
  padding: 15px 25px;

  background-color: #e5e5f5;
  border-radius: 293px;
  border: none;
  color: #afafb9;

  cursor: pointer;
  transition: all .2s;
  outline: none;
}

.btn--light { background-color: white; }

.btn--warning {
  color: #a26a6a;
  background-color: #f8aaaa;
}